<!DOCTYPE html>
<html>
<head>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-96213629-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());

    gtag('config', 'UA-96213629-2');
  </script>
  <title>タスク管理(ruby on rails サンプル)</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ujs/1.2.2/rails.js"></script>
</head>
<body>
<script>
  $(function() {
    if ($("#samples_task_kanri_task_kigen_str").length)
    {
      $("#samples_task_kanri_task_kigen_str").datepicker();
      $("#samples_task_kanri_task_kigen_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @task.present? %>
        $("#samples_task_kanri_task_kigen_str").val("<%= @task.kigen_str %>");
      <% end %>
    }
    if ($(".alert").length)
    {
      $(".alert").show();
    }
  });
</script>
<header id="header" style="background-color: #333;color:#fff">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>
          タスク管理 | ruby on rails sample
        </h1>
      </div>
    </div>
  </div>
</header>
<main id="main">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <% if @task.present? && @task.errors.present? %>
          <div class="alert alert-danger" style="margin-top:20px;border-width:3px;display:none">
            <ul>
              <% @task.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <% if flash[:msg].present? %>
          <div class="alert alert-info" style="margin-top:20px;border-width:3px;display:none">
            <ul>
              <li><%= flash[:msg] %></li>
            </ul>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
</main>
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div style="padding-top:10px;text-align: center;border-top: 1px #999999 solid;">
          <p>Copyright© program777.com All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>